

<table style="text-align: center; background-color: cadetblue; width: 100%; height: 70%;">
    <thead>
        <tr>
            <h2><u>Contact Us</u></h2>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let n of nature">
            <td style="font-weight: 800;">Mobile</td>
            <td>{{n.Mobile}}
        </tr>
        <br>
        <tr *ngFor="let n of nature">
            <td style="font-weight: 800;">Email</td>
            <td>{{n.Email}}
        </tr>
        <br>
        <tr *ngFor="let n of nature">
            <td style="font-weight: 800;">Address</td>
            <td>{{n.Address}}
        </tr>
       
    </tbody>
</table>
<br>
<br>

<h3>Why you should contact us? </h3>

<p  style="background-color:darkgray;">*   Experience exceptional hospitality and personalized service.
    . 
    <br>
    <br>

   * Discover a world of comfort and luxury at our hotel.
  
   <br>
   <br>
    
   *    Indulge in exquisite dining options and culinary delights.

   <br>
   <br>

   * We look forward to hearing from you and making your stay at our hotel an unforgettable one!