nav{
    background-color:rgb(98, 232, 116);
    color: brown;
    height: 30px;


}
nav ul{
    list-style-type: none;

}
nav li{
    display: inline-block;
    font-size: large;

    

}
nav ul li a {
    color: black;
    text-decoration: none;
    padding: 20px;


}